.loading{
    align-items: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.dot{
    height:250px;
    width: 250px;
    background-color: none;
    display: flex;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0ms;

    border: double 8px transparent;
    border-radius: 50%;
    background-image: linear-gradient(rgb(255, 255, 255, 0.99), rgb(255, 255, 255, 0.99)), radial-gradient(circle at top left, rgb(250, 42, 42),rgb(70, 70, 248), white);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.dotText{
    display:flex;
    justify-content: center;
    position:relative;
    color: rgb(55, 55, 55, 0.95);
    top: 143px;
    font-size: 32px;
    z-index: 9999;
}

@keyframes spin{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg)}
}