.Main{
    display: block;
    min-width: 320px;
    min-height: 100vh;
    padding-top: 50px;
}

.welcomeWindow{
    color:white;
    position: relative;
    margin-top: 0px;
    display: block;
    width: 70%;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 50px 0px 50px 0px;
    border-radius: 5px;
}

.welcome-title{
    font-size: 48px;
}

.welcome-header{
    font-size: 40px;
    margin-top: 10px;
}
.welcome-text{
    margin-top: 20px;
    font-size: 18px;
}

.tryButton{
    font-size: 24px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    color: white;
    background-color: #0073ff;
    border:none;
    border-radius: 10px;
    margin-top: 40px;
    border: 2px solid #0073ff;
}

.tryButton:hover{
    border: 2px solid white;
}

@media only screen and (max-width: 870px){
    .welcomeWindow{
        width: 90%;
        padding-bottom: 25px;
    }

    .welcome-title{
        font-size: 40px;
    }
    
    .welcome-header{
        font-size: 32px;
        margin-top: 10px;
    }
    .welcome-text{
        margin-top: 10px;
        font-size: 16px;
    }
    .tryButton{
        margin-top: 25px;
    }
}